<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fish.push.api">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="fish.push.api.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="fish.push.api.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".pushfish.PushFishActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".topic.TopicActivity"
            android:label="@string/title_activity_topic" />


        <activity android:name=".server.ServerActivity" />

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".topicselect.TopicSelectActivity" />

        <activity android:name=".serverselect.ServerSelectActivity" />

        <activity
            android:name=".notification.NotificationActivity"
            android:label="@string/title_activity_notification" />

        <activity
            android:name=".SubscriptionsActivity"
            android:label="@string/title_activity_subscriptions"
            android:parentActivityName=".pushfish.PushFishActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="pfish" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pushfish.PushFishActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".pushfish.PushFishActivity"
            android:theme="@style/SettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fish.push.api.pushfish.PushFishActivity" />
        </activity>

        <receiver android:name=".Receiver">
            <intent-filter>
                <action android:name="android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>